<!DOCTYPE html>
<html>
  <head>
    <title>My Pets</title>
  </head>

  <body>
  {% if user.is_authenticated %}
    <h2>Welcome back, {{ user.username }}!</h2>
    {% if total_pets %}
    <p>You have:</p>        
    <ul>
    {% for pet in pets %}
      {% if pet.unit %}
      <li>{{ pet.unit }} {{ pet.get_color_display }} {{ pet.get_animal_type_display }}</li>
      {% endif %}
    {% endfor %}
    </ul>
    <ul>
      <li>Total = {{ total_pets }} animals</li>
    </ul>
    {% else %}
      <p>You have no pets</p>
    {% endif %}
    <form method="post" action="">
      {% csrf_token %} 
      <ul>
        <li>{{ form1 }}</li>
        <li>{{ form2 }}</li>
      </ul>
      <input type="submit" value="Update">
    </form>
    <br>
    <a href="{% url 'logout' %}">Log Out</a>
  {% endif %}
  {% block content %}{% endblock content %}
  </body>
</html>
